  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  VARIABLES */
:root {
    --WHITE: #ffffff;
    --ORANGE: hsl(31, 77%, 52%);
    --CYAN: hsl(184, 100%, 22%);
    --DARK-CYAN: hsl(179, 100%, 13%);
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.box {
    width: 300px;
    height: auto;
  }

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--WHITE);
    font-size: 3rem;
    opacity: 0.9;
    margin: 25px 0px 40px 0px;
  }

p {
    font-family: 'Lexend Deca', sans-serif;
    opacity: 0.7;
    font-weight: 300;
    font-size: 1rem;
    color: var(--WHITE);
    word-spacing: 3px;
}

.learn {
  margin-top: 90px;
  width: 7.5rem;
  height: 2.3rem;
  background-color: var(--WHITE);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

a {
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
}

.one {
    background-color: var(--ORANGE);
    padding: 40px;
  }

.two {
    background-color: var(--CYAN);
    padding: 40px 40px 30px 40px;
  }

.three {
    background-color: var(--DARK-CYAN);
    padding: 40px 40px 10px 40px;
  }

 .link-one {
    color: var(--ORANGE);
 }

 .link-two {
    color: var(--CYAN);
 }

 .link-three {
    color: var(--DARK-CYAN);
 }

 @media (min-width: 380px) {
  .one {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .three {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
 }

@media (max-width: 380px) {
body {
  height: 100%;
}

.container {
  margin-block: 20px;
  display: grid;
}

.box{
  width: 280px;
}

.one {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.three {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

h1 {
  font-size: 2.5rem;
  margin: 30px 0px 25px 0px;
}

p {
font-size: 0.8rem;
margin-bottom: 30px;
}


.learn{
 margin-top: 20px;
}

a {
  font-size: 0.8rem;
}

.bot {
  margin-bottom: 20px;
}

}
